common/overlays/DPUCZDX8G*
common/overlays/DPUCV2DX8G*

*/platforms/tria_*
*/platforms/linux.bif
*/platforms/vivado/*/project
*/platforms/vivado/*/*.jou
*/platforms/vivado/*/*.log
*/platforms/xsct

*/overlays/examples/*/*binary_container_*
*/overlays/examples/*/*packaged_kernel_*
*/overlays/examples/*/*tmp_kernel_pack_*
*/overlays/examples/*/*.jou
*/overlays/examples/*/*.log
*/overlays/examples/*/_x
*/overlays/examples/*/*.xo
*/overlays/examples/*/*.xo.compile_summary
*/overlays/examples/*/*_accel/*.xo
*/overlays/examples/*/*_accel/*.xo.compile_summary
*/overlays/examples/*/*.ini
*/overlays/examples/*/*.xsa
*/overlays/examples/*/*.xclbin
*/overlays/examples/*/*.xclbin.package_summary

*/petalinux/.petalinux
*/petalinux/build
*/petalinux/components
*/petalinux/project-spec/configs/*.old
*/petalinux/project-spec/hw-description
*/petalinux/images/linux


